All Lines of Credit
%ul
  -@credits.each do |credit|
    %li
      %p
        %span
          %strong
            Name:
          =credit.name
        %span
          %strong
            APR
          =credit.apr
        %span
          %strong
            Maximum Line of Credit
          =credit.line_max
