%strong
  Name
= @credit.name 
%p
  %strong
    APR
  = @credit.apr
%p
  %strong
    Maximum Line of Credit
  = @credit.line_max

%p
  Transactions
  %ul
    =@transactions.each do |transaction|
      %li
        Amount
        =transaction.amount
        %br
        Day of Month
        =transaction.day
        %br
        Was this a withdrawal?
        =transaction.withdrawal
%p
  %button
    =link_to 'add transactions', new_transaction_path
